.custom-snackbar {
  background-color: rgba(255, 255, 255, 0.15);;
  color: #ffff;
  padding: 16px;
  border-radius: 8px;
  margin: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.snackbar-message {
  flex: 1;
}

.snackbar-close {
  background: none;
  border: none;
  color: inherit;
  font-size: 20px;
  cursor: pointer;
  margin-left: 8px;
}

.flipInY {
  animation: slideInRight 1s both;
}

/* ANIMATIONS */
@keyframes flipInY {
  from { opacity: 0; transform: perspective(400px) rotateY(90deg); }
  to { opacity: 1; transform: perspective(400px) rotateY(0); }
}

@keyframes iconBounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}

@keyframes slideInRight {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}
